@model gRide.ViewModels.DashboardViewModel
<div class="card">
    <div class="card-header">
        Dashboard
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your events:</h5>

                        <div class="text-end">
                            <a href="#" class="text-decoration-none">See all</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-end">
                            <a href="#" class="text-decoration-none">See all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>