@model gRide.ViewModels.NewEventViewModel

<div class="row my-3">
    <div class="col-10 offset-1">
        <div class="form-group">
            <input class="form-control" id="nameInput" placeholder="Event name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1 col-md-5">
        <div class="form-group">
            <input type="date" id="dateInput" class="form-control">
            <span asp-validation-for="Date" class="text-danger fw-light"></span>
        </div>
    </div>
    <div class="col-10 offset-1 col-md-5 offset-md-0">
        <div class="form-group">
            <input type="time" id="timeInput" class="form-control">
            <span asp-validation-for="Date" class="text-danger fw-light"></span>
        </div>
    </div>
</div>
<div asp-validation-summary="ModelOnly" class="col-10 offset-1 text-danger fw-light"></div>
